<section class="marketing marketing-js">
    <h1>Curso de Shell Script do Iniciante ao Avançado</h1>
    <h2>Aprenda Shell Script se você for Iniciante! Qualifique-se se você já tem o básico!</h2>
    <a href="http://www.terminalroot.com.br/shell/" onclick="ga('send', 'event', 'mkt', 'click', 'prevenda svg')" class="btn-marketing" target="_blank">Adquira Já!</a>
    <!--<a href="https://www.eventick.com.br/javascript-com-tdd-na-pratica" onclick="ga('send', 'event', 'mkt', 'click', 'prevenda javascript')" class="btn-marketing btn-js" target="_blank">Comprar Agora</a>-->
</section>
