<section class="marketing marketing-svg">
    <h1>Curso de Linux</h1>
    <h2>Aprenda Linux se você for Iniciante e Qualifique-se se você já tem o básico.</h2>
    <a href="https://www.eventick.com.br/curso-de-svg" onclick="ga('send', 'event', 'mkt', 'click', 'prevenda svg')" class="btn-marketing" target="_blank">Em breve</a>
    <!--<a href="https://www.eventick.com.br/curso-de-svg" onclick="ga('send', 'event', 'mkt', 'click', 'prevenda svg')" class="btn-marketing" target="_blank">Comprar Agora</a>-->
</section>
