<section class="marketing marketing-svg">
    <h1 style="color: #FFF;">Curso de Shell Script do Iniciante ao Avançado</h1>
    <h2 style="color: #FFF;">Aprenda Shell Script se você for Iniciante! Qualifique-se se você já tem o básico.</h2>
    <a href="https://www.eventick.com.br/curso-de-svg" class="btn-marketing" target="_blank">Faça Agora</a>
    
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
	<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
	<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
	<input type="hidden" name="itemCode" value="DF3F2039CCCC684554061FBDB2B404C0" />
	<input type="hidden" name="iot" value="button" />
	<a style="color: #FFF;" href="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" class="btn-marketing" name="submit" target="_blank">Faça Agora</a>
	</form>
	<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
	<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    
</section>
